body {
    --main-grey: #918f8f;
    --dark-grey: #6d6d6d;
    --light-grey: #bdbdbd;
    --button-red: #d82727;
    --light-red: #e24a4a;
    --dark-red: #a61c1c;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.esterno {
    position: relative;
    aspect-ratio: 2 / 3;
    width: min(100vw, calc(100vh * 2 / 3));
    height: min(100vh, calc(100vw * 3 / 2));
    background-color: var(--main-grey);
    border-radius: 3%;
    margin: auto;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-righe {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.riga {
    display: block;
    margin-bottom: 2%;
    width: 100%;
    height: 6%;
    border-top: 4px solid var(--dark-grey);
    border-bottom: 4px solid var(--light-grey);
}

.incavo-bottone {
    position: relative;
    width: 60%;
    height: 40%;
    background-color: var(--main-grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 8px solid var(--dark-grey);
    border-bottom: 8px solid var(--light-grey);
    border-left: 2px solid var(--dark-grey);
    border-right: 2px solid var(--dark-grey);
}

.bottone {
    position: relative;
    width: 92%;
    height: 92%;
    background-color: var(--button-red);
    border-radius: 1.5%;
    box-shadow:
        0 -10px 0 0 var(--button-red),      /* esterna sopra */
        inset 0 -10px 0 0 var(--dark-red); /* interna sotto */
    z-index: 2;
    cursor: pointer;
}

.bottone:active {
    border: 0px;
    background-color: var(--dark-red);
    box-shadow: none;
}

.batteria {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 20%;
    background-color: var(--main-grey);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 8px solid var(--dark-grey);
    border-top: 8px solid var(--dark-grey);
    border-right: 8px solid var(--dark-grey);
}

.led {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 7%;
    background-color: var(--dark-red);
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(216, 39, 39, 0.5);
}

.riflesso-top {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    border-radius: 3% 3% 0 0;
}

.riflesso-bottom {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.6));
    border-radius: 0 0 3% 3%;
}

.led.attivo {
    background-color: var(--light-red);
    box-shadow: 0 0 2px rgba(226, 74, 74, 0.5);
}
